li {
  list-style: none;
}
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}
.navbar {
  border-radius: 0;
  background-color: #333;
  min-height: 40px;
  color: #b0b0b0;
  font-size: 12px;
  margin-bottom: 0px;
}
.navbar ul li a {
  padding: 0px;
  line-height: 40px;
}
.navbar ul li:hover {
  color: aliceblue;
}
.navbar ul li span {
  width: 3px;
  height: 17px;
  margin: 0 .5em;
  color: #424242;
}
.navbar .container-fluid {
  margin: 0 40px;
}
/* 导航栏下面部分 */
.newnav {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 0 50px;
  margin-bottom: 10px;
  position: relative;
}
.newnav > a {
  color: black!important;
  float: left;
  display: block;
  width: 55px;
  height: 55px;
  background: url(../imgs/mi-logo.png) no-repeat 50% 50%;
  background-color: orangered;
  margin-top: 25px;
}
.newnav > ul {
  float: left;
  margin-left: 100px;
}
.newnav > ul > li {
  float: left;
  font-size: 16px;
  line-height: 100px;
}
.newnav > ul > li > a {
  padding: 26px 10px 38px;
}
.newnav > ul > li > a:hover {
  color: orangered;
}
.newnav > ul > li:hover .box0 {
  display: block;
}
.search {
  position: absolute;
  top: 25px;
  right: 100px;
  z-index: 1;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 48px;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.submit {
  position: absolute;
  right: 49px;
  top: 25px;
  z-index: 2;
  width: 52px;
  height: 48px;
  border: 1px solid #e0e0e0;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.submit:hover {
  background-color: orangered;
}
.box0 {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 230px;
  background-color: #fff;
  z-index: 10;
}
.box0 li {
  float: left;
  width: 180px;
  padding: 35px 12px 0px 12px;
}
.box0 img {
  display: block;
  width: 160px;
  height: 110px;
  border-right: 1px solid #e0e0e0;
}
.box0 a {
  display: block;
}
.box0 div:nth-child(2) {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin-top: 20px;
  color: black;
  text-align: center;
}
.box0 div:nth-child(3) {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: orangered;
  text-align: center;
}
/* 底部 */
.foot {
  width: 100%;
  height: 250px;
  background-color: white;
}
.foot .foot-header {
  margin: 0 auto;
  width: 93%;
  height: 80px;
  border-bottom: 1px solid #e0e0e0;
}
.foot .foot-header ul {
  height: 100%;
  padding: 0;
  margin: 0px;
}
.foot .foot-header ul li {
  margin-top: 25px;
  width: 20%;
  height: 30px;
  float: left;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  line-height: 30px;
}
.foot .foot-header ul li a {
  color: #616161;
  font-size: 16px;
}
.foot .foot-header ul li a span {
  font-size: 24px;
  vertical-align: -3px;
}
.foot .foot-header ul li a:hover {
  color: orangered;
}
.foot .foot-header ul li:first-child {
  border-left: none;
}
.foot .foot-main {
  width: 93%;
  height: 400px;
  margin: 0 auto;
  padding: 40px 0;
}
.foot .foot-main .foot-main-p1 {
  width: 160px;
  height: 112px;
  float: left;
}
.foot .foot-main .foot-main-p1 dt {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
  font-weight: normal;
}
.foot .foot-main .foot-main-p1 dd {
  margin: 10px 0 0;
  font-size: 12px;
  color: #757575;
  cursor: pointer;
}
.foot .foot-main .foot-main-p1 dd:hover {
  color: orangered;
}
.foot .foot-main .foot-main-p2 {
  float: right;
  width: 251px;
  height: 112px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
.foot .foot-main .foot-main-p2 p {
  margin: 0 0 5px;
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
.foot .foot-main .foot-main-p2 p:nth-child(2) {
  margin: 0 0 16px;
  font-size: 12px;
  color: #757575;
  line-height: 20px;
}
.foot .foot-main .foot-main-p2 a {
  margin: 0 auto;
  width: 120px;
  height: 30px;
  display: block;
  border: 1px solid orangered;
  line-height: 30px;
  color: #ff6700;
}
.foot .foot-main .foot-main-p2 a:hover {
  background-color: #ff6700;
  color: white;
}
.foot-bottom {
  width: 100%;
  height: 230px;
  background-color: #fafafa;
  padding: 30px;
}
.foot-bottom .foot-bottom-main {
  width: 93%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 60px;
}
.foot-bottom .foot-bottom-main .logo {
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(../imgs/logo-footer.png) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.foot-bottom .foot-bottom-main ul {
  padding: 0px;
}
.foot-bottom .foot-bottom-main ul li {
  float: left;
  font-size: 12px;
}
.foot-bottom .foot-bottom-main ul li:hover a {
  color: #ff6700;
}
.foot-bottom .foot-bottom-main ul li a {
  color: #757575;
}
.foot-bottom .foot-bottom-main ul li span {
  color: #bobobo;
  margin: 0 3px;
}
.foot-bottom .foot-bottom-main p {
  color: #b0b0b0;
  font-size: 12px;
  margin-bottom: 0px;
}
.foot-bottom .foot-bottom-main p a {
  color: #b0b0b0;
}
.foot-bottom .foot-bottom-main p a:hover {
  color: #ff6700;
}
.foot-bottom .foot-bottom-main img {
  float: left;
  width: 85px;
  height: 28px;
}
.foot-bottom .foot-bottom-main .slogan {
  width: 300px;
  height: 19px;
  position: absolute;
  bottom: 0px;
  left: 40%;
  background: url('../imgs/foot-99.png') no-repeat;
}
